<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qg24.softwareplatform.mapper.AdminMapper">
    <update id="updateSoftWareBasicInfo" >
        update software
        set
        <if test="softwareName != null">
            software_name = #{softwareName},
        </if>
        <if test="author != null">
            author = #{author},
        </if>
        <if test="description != null">
            description = #{description},
        </if>
        <if test="tags != null">
            tags = #{tagsString},
        </if>
        <if test="status != null">
            status = #{status}
        </if>
        Where software_id = #{softwareId}
    </update>
    
    <update id="updateSoftwareLatestInfo">
        update software_version_download
        set
        <if test="detailedDescription != null">
            detailed_description = #{detailedDescription}
        </if>
        Where software_id = #{softwareId} and version_type = #{versionType} and version = #{version}
    </update>

    <select id="getSoftwareInfoTempPages" resultType="com.qg24.softwareplatform.po.entity.SoftwareInfoTemp">
        SELECT *
        FROM software_info_temp
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="updateSoftwareInfoTemp">
        update software_info_temp
        set
        <if test="status != null">
            passed_status = #{status}
        </if>
        Where software_info_temp_id = #{softwareInfoTempId}
    </update>
</mapper>