<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qg24.softwareplatform.mapper.SoftwareMapper">

    <select id="pagedQuerySoftwareBySoftNameAndTags"
            resultType="com.qg24.softwareplatform.po.entity.Software">
        select * from software
        <where>
            <if test="softwareName != null">and software_name = #{softwareName}</if>
        </where>
        limit #{offset}, #{pageSize}
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from software
        <where>
            <if test="softwareName != null">and software_name = #{softwareName}</if>
            <if test="tags != null">
                <foreach collection="tags" item="tag">
                    and tags like concat('%', #{tag}, '%')
                </foreach>
            </if>
        </where>
    </select>


</mapper>