.card-content {
  display: flex;
  align-items: center;
}

.card-title {
  margin-left: 16px;
  font-size: 16px;
  margin-right: 16px;
  font-weight: bold;
}

.status-button,
.details-button,
.change-button {
  width: 60px;
  height: 30px;
  border-radius: 100px;
  background-color: #e5dff4;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #633db1;
}

.details-button {
  background-color: #e5dff4;
}

.change-button {
  background-color: #816aff;
  color: #ffffff;
}

.description {
  font-size: 15px;
  line-height: 24px;
  margin: 8px 0 16px;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-container .ant-card-body {
  padding: 0px !important;
}

.tags-container .ant-modal-close {
  display: none;
}

.tag-card {
  max-width: 250px;
  padding: 2px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 60px;
  border: 1px solid #e1e1e1;
  background-color: #e5dff4;
  color: #633db1;
}
